# Ignore Markdown files
*.md

# Flutter build/cache
.dart_tool/
.pub/
.pub-cache/
build/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Machine-specific
android/local.properties

# Secrets
.env
*serviceAccountKey*.json
